@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;700&display=swap');
p{
  font-family: 'Caveat';
  font-weight: normal;
}
h1, h2{
  font-family: 'Montserrat';
  font-weight: bold;
}
h3{
  font-family: 'Montserrat';
  font-weight: normal;
}
body {
  width: 1440px;
  height: 3150px;
  background-color: #1C1C1C;
  position: relative;
  display: inline-block;
}
.part1{
  width: 1440px;
  height: 1160px;
}
.name{
  /* background: url('../img/name.svg'); */
  background-color: white;
  border-color: black;
  border-radius: 5px;
  border-width: 5px;
  border-style: inset;
  width: 1440px;
  height: 360px;
}
.text1{
  font-size: 90px;
  /* padding-top: 60px;
  padding-left: 60px; */
  padding: 4%;
}
.shelf2{
  display:block;
}
.shelf1{
  width: 520px;
  height: 305px;
  margin-top: 110px;
  display: block;
}
.tapesfirst{
  position:relative;
  width: 464px;
  height: 175px;
  margin-left: 10px;
}
.tape1{
  background: url('../img/tape1.svg');
  width: 275px;
  height: 175px;
  display: inline-block;
  position: relative;
  float: left;
}
.date1{
  text-align: center;
  margin-top: 37px;
}
.date2{
  text-align: center;
  margin-top: 37px;
}
.tape2{
  background: url('../img/tape2.svg');
  width: 275px;
  height: 175px;
  margin-left: -90px;
  display: inline-block;
  position: relative;
}
.shelf1img{
  background: url('../img/shelf1.svg');
  width: 520px;
  height: 40px;
}
.name1{
  background: url('../img/name1.svg');
  width: 290px;
  height: 130px;
  margin-top: -40px;
  margin-left: 90px;
}
.text2{
  font-size: 40px;
  line-height: 40px;
  padding: 20px;
}
.text3{
  font-size: 29px;
  line-height: 31px;
  padding-top: 30px;
  padding-left: 60px;
}
.allbooks1{
  width: 622px;
  height: 353px;
  position: relative;
  display: inline-block;
  font-size: 0px;
}
.book{
  display: inline-block;
  margin: 0px;
}
.book5{
  margin-left: -23px;
}
.book4{
  margin-left: -110px;
}
.book3{
  margin-left: -133px;
}
.book2{
  margin-left: -2px;
}
.book1{
}
.tvCD{
  width: 558px;
  height: 720px;
  display: inline-block;
  position: relative;
  margin-top: -375px;
  margin-left: -5px;
}
.tv{
  display: block;
}
.diskovod1{
  display: block;
  margin-left: -51px;
}
.diskovod2{
  display: block;
  margin-left: -18px;
}
.booksalot{
  float: right;
  display: inline-block;
  margin-top: -1158px;
}
