@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;700&display=swap');
p{
  font-family: 'Caveat';
  font-weight: normal;
}
h1, h2{
  font-family: 'Montserrat';
  font-weight: bold;
}
h3{
  font-family: 'Montserrat';
  font-weight: normal;
}
body {
  width: 1440px;
  background-color: #1C1C1C;
  position: relative;
  display: inline-block;
}
.borderline{
  border-radius: 5px;
  outline: 5px solid black;
  outline-offset: -5px;
}
.name{
  width: 1440px;
  height: 360px;
  background-color: white;
}
.text1{
  font-size: 90px;
  padding: 60px 60px 0px;
}
.shelf2{
  display:block;
  width: 1440px;
  height: 40px;
  background-color: white;
}
.shelf1{
  width: 520px;
  height: 305px;
  margin-top: 110px;
  display: block;
}
.tapesfirst{
  width: 464px;
  height: 175px;
  margin-left: 10px;
}
.tape1{
  background: url('../img/tape1.svg');
  width: 275px;
  height: 175px;
  display: inline-block;
  position: relative;
  float: left;
  animation-play-state: paused;
}
@keyframes tapes{
  0% {top: 0px;}
  50% {top:-30px;}
  100% {top: 0px;}
}
.tapes:hover{
  animation-name: tapes;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.date1{
  text-align: center;
  margin-top: 37px;
}
.date2{
  text-align: center;
  margin-top: 37px;
}
.tape2{
  background: url('../img/tape2.svg');
  width: 275px;
  height: 175px;
  margin-left: -90px;
  display: inline-block;
  position: relative;
  animation-play-state: paused;
}
.shelff{
  width: 520px;
  height: 40px;
  background-color: white;
  position: relative;
}
.name1{
  width: 290px;
  height: 130px;
  margin-top: -40px;
  margin-left: 90px;
  background-color: white;
  position: relative;
}
.text2{
  font-size: 40px;
  line-height: 40px;
  padding: 20px;
}
.text3{
  font-size: 29px;
  line-height: 31px;
  padding-top: 27px;
  padding-left: 60px;
}
.allbooks1{
  width: 622px;
  height: 352px;
  position: relative;
  display: inline-block;
  font-size: 0px;
}
.book{
  display: inline-block;
  margin: 0px;
}
.book5{
  margin-left: -23px;
}
.book4{
  margin-left: -110px;
}
.book3{
  margin-left: -133px;
}
.book2{
  margin-left: -2px;
}
.book1{
}
.dateA1{
  position: absolute;
  left: 513px;
  top: 156px;
  width: 146px;
  height: 45px;
  transform: rotate(-90deg);
  font-size: 36px;
}
.dateA2{
  position: absolute;
  left: 433px;
  top: 156px;
  width: 146px;
  height: 45px;
  transform: rotate(-90deg);
  font-size: 36px;
}
.dateA3{
  position: absolute;
  left: 282px;
  top: 156px;
  width: 146px;
  height: 45px;
  transform: rotate(-65deg);
  font-size: 36px;
}
.dateA4{
  position: absolute;
  left: 192px;
  top: 156px;
  width: 146px;
  height: 45px;
  transform: rotate(-65deg);
  font-size: 36px;
}
.dateA5{
  position: absolute;
  left: 47px;
  top: 172px;
  width: 146px;
  height: 45px;
  transform: rotate(-50deg);
  font-size: 36px;
}
.tvCD{
  width: 558px;
  height: 720px;
  display: inline-block;
  position: relative;
  margin-top: -375px;
  margin-left: -5px;
}
.tvshum{
  width: 540px;
  height: 460px;
  display: block;
  position: relative;
  background-color: #3E3E3E;
}
.shum{
  width: 440px;
  height: 360px;
  margin: 50px;
}
.diskovod1{
  display: block;
  margin-left: 51px;
}
.diskovod2{
  display: block;
  margin-left: -18px;
}
 .wiredisc1{
  position: absolute;
  width: 35px;
  height: 265px;
  left: 350px;
  top: 260px;
  animation-name: wirediscs1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes wirediscs1{
  0% {transform: rotateZ(4deg) translateX(-12px);}
  50%  {transform: rotateZ(-4deg) translateX(12px);}
  100% {transform: rotateZ(4deg) translateX(-12px);}
}
.wiredisc2{
  position: absolute;
  width: 35px;
  height: 505px;
  left: 400px;
  top: 130px;
  animation-name: wirediscs2;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes wirediscs2{
  0% {transform: rotateZ(-2deg) translateX(10px);}
  50%  {transform: rotateZ(2deg) translateX(-10px);}
  100% {transform: rotateZ(-2deg) translateX(10px);}
}
