.tapessecond{
  position: relative;
  display: inline-block;
  margin-top: 190px;
}
.tape5ani{
  position: relative;
  display: inline-block;
  margin-left: -70px;
  animation-play-state: paused;
}
.tape4{
  animation-play-state: paused;
  position: relative;
}
.tape5{

}
.tape5txt{
  position: absolute;
  transform: rotate(90deg);
  font-size: 20px;
  margin-left: 90px;
  margin-top: -150px;
}
.tape5ani:hover{
  animation-name: tapes;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.tape4:hover{
  animation-name: tapes;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.smallbooks{
  display: inline-block;
  float: right;
  margin-right: 80px;
}
.small{
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 130px;
}
.smallbooks2{
  position: relative;
  display: inline-block;
  float: right;
}
.music{
  float: right;
  position: relative;
  display: inline-block;
}
.smalltxt{
  font-size: 14px;
  line-height: 10px;
  position: absolute;
  transform: rotate(-90deg);
}
.smalltxt1{
  margin-left: 110px;
  margin-top: 285px;
}
.smalltxt2{
  margin-left: 65px;
  margin-top: 285px;
}
.smalltxt3{
  margin-left: 45px;
  margin-top: 305px;
}
.smalltxt4{
  margin-left: -2px;
  margin-top: 295px;
}
.smalltxt5{
  margin-left: 5px;
  margin-top: 305px;
}
.smalltxt6{
  margin-left: 40px;
  margin-top: 295px;
}
.button{
  width: 20px;
  height: 14px;
  background-color: #DADADA;
  position: absolute;
}
@keyframes buttons{
  from { top: 0px; left:0px; }
  to { top: 30px; left:0px; }
}
.kolonki{
  width: 590px;
  height: 335px;
  float:right;
  position: relative;
}
.b1{
  margin-left: 243px;
  margin-top: 127px;
  animation: b1 2s infinite;
}
.b2{
  margin-left: 271px;
  margin-top: 127px;
  animation: b2 1.5s infinite;
}
.b3{
  margin-left: 299px;
  margin-top: 127px;
  animation: b3 3s infinite;
}
.b4{
  margin-left: 327px;
  margin-top: 127px;
  animation: b4 2s infinite;
}
@keyframes b1{
  0% { top: 0px; left:0px; }
  50% { top: 30px; left: 0px;}
  100% { top: 0px; left:0px; }
}
@keyframes b2{
  0% { top: 37px; left:0px; }
  50% { top: 5px; left: 0px;}
  100% { top: 37px; left:0px; }
}
@keyframes b3{
  0% { top: 0px; left:0px; }
  50% { top: 15px; left: 0px;}
  100% { top: 0px; left:0px; }
}
@keyframes b4{
  0% { top: 30px; left:0px; }
  50% { top: 0px; left: 0px;}
  100% { top: 30px; left:0px; }
}
.kolonka1{
  position: absolute;
  margin-left: 16px;
  margin-top: 127px;
  animation: kolonki .4s infinite;
}
.kolonka2{
  position: absolute;
  margin-left: 383px;
  margin-top: 127px;
  animation: kolonki .4s infinite;
}
@keyframes kolonki{
  from { width: 190px; top: 0px; left: 0px; }
  to { width: 220px; top: -15px; left: -15px;}
}
.shelf5{
  position: relative;
  display: block;
  width: 1000px;
  height: 40px;
  background-color: white;
  float: right;
}
.shelf6{
  position: relative;
  display: block;
  width: 430px;
  height: 40px;
  background-color: white;
  margin-top: -4px;
}
.bottombooks{
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-left: 25px;
  animation-play-state: paused;
}
.bb:hover{
  animation-name: bookbottom;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: relative;
  animation-play-state: running;
}
@keyframes bookbottom{
  0% { left: 0px; top: 0px;}
  50% {left: 30px; top: 0px;}
  100% {left: 0px; top: 0px;}
}
.bb1{
  position: relative;
  display: block;
  z-index: 0;
}
.bb2{
  position: relative;
  display: block;
  margin-left: 20px;
}
.bb3{
  position: relative;
  display: block;
  margin-left: 20px;
}
.bb4{
  position: relative;
  display: block;
  margin-left: 20px;
}
.bb5{
  position: relative;
  display: block;
}
.bbtxt{
  position: absolute;
  margin-top: 8px;
  margin-left: 100px;
  z-index: 1;
}
.bbtxt1{
  position: absolute;
  margin-top: 8px;
  margin-left: 120px;
  z-index: 1;
}
.discalone{
  display: inline-block;
  margin-left: -80px;
}
.fullvinyl{
  position: relative;
  display: inline-block;
}
.vinyl{
  position: relative;
  width: 315px;
  height: 315px;
  display: inline-block;
}
.vdisc{
  position: relative;
  display: inline-block;
  margin-left: -157.5px;
}
.d1{
  position: relative;
  z-index: -2;
  animation: paused;
}
.d2{
  position: relative;
  z-index: -4;
  animation: paused;
}
.d3{
  position: relative;
  z-index: -6;
  animation: paused;
}
@keyframes vynilanimation{
  0% {left: 0px;}
  50% {left: 100px;}
  100% {left: 0px;}
}
.full1:hover .d1{
  animation-name: vynilanimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.full2:hover .d2{
  animation-name: vynilanimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.full3:hover .d3{
  animation-name: vynilanimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.full1{
  position: relative;
  display: inline-block;
}
.full2{
  position: relative;
  margin-left: -275px;
  display: inline-block;
}
.full3{
  position: relative;
  margin-left: -275px;
  display: inline-block;
}
.v1{
  background-color: #D53E2B;
  z-index: -1;
}
.v2{
  background-color: #78768B;
  z-index: -3;
}
.v3{
  background-color: #CEC252;
  z-index: -5;
}
.name6{
  display: block;
  float: right;
  position: relative;
  width: 310px;
  height: 160px;
  background-color: white;
  margin-right: -470px;
}
.name6txt{
  position: relative;
  padding: 30px;
  font-size: 40px;
  line-height: 40px;
}
.allvinyl{
  float: right;
  margin-top: -100px;
}
.shelf7{
  background-color: white;
  width: 1440px;
  height: 40px;
  position: relative;
  display: block;
  margin-top: -4px;
}
.radio{
  display: inline-block;
  position: relative;
  z-index: 0;
  margin-left: 166px;
  margin-top: -4px;
}
.radiobutton{
  position: absolute;
  margin-left: 373px;
  margin-top: 100px;
  animation: button 3s infinite running;
}
@keyframes button {
  0% { transform: rotate(0deg); }
  30% { transform: rotate(90deg);}
  60% { transform: rotate(360deg);}
  80% { transform: rotate(-40deg);}
  90% { transform: rotate(70deg);}
  100% { transform:rotate(0deg);}
}
.antena{
  position: absolute;
  margin-left: 40px;
  margin-top: -130px;
  z-index: -1;
  animation: antena 3s infinite running;
}
@keyframes antena {
  0% { transform: rotate(0deg) translateY(0px);}
  50% { transform: rotate(-40deg) translateY(-120px);}
  100% { transform: rotate(0deg) translateY(0px);}
}
.shelf8{
background-color: white;
width: 650px;
height: 40px;
position: relative;
display: block;
margin-top: -4px;
}
.udl{
  position: relative;
  float: right;
  margin-top: -300px;
}
.footer{
  display: block;
  position: relative;
  float: right;
  font-size: 24px;
  line-height: 30px;
  margin-right: 475px;
  margin-top: -75px;
}
.wire1{
  position: absolute;
  margin-left: 575px;
  margin-top: -40px;
  z-index: 5;
}
.wire2{
  position: absolute;
  margin-left: 890px;
  margin-top: -40px;
  z-index: 5;
}
.wire3{
  position: absolute;
  margin-left: 375px;
  margin-top: -40px;
  z-index: 5;
}
.wire4{
  position: absolute;
  margin-left: 475px;
  margin-top: -40px;
  z-index: 5;
  animation: wire4 4s infinite;
}
@keyframes wire4{
  0% {transform: rotateZ(2deg) translateX(-10px);}
  50%  {transform: rotateZ(-2deg) translateX(10px);}
  100% {transform: rotateZ(2deg) translateX(-10px);}
}
.wire5{
  position: absolute;
  margin-left: 1195px;
  margin-top: 57px;
  z-index: 5;
}
.wire{
  position: absolute;
  margin-left: 0px;
  margin-top: 200px;
  z-index: 5;
}
